/* Black #181820 */
/* Grey #272833 */
/* White #fefeff */
/* Orange #fc9786 */
/* Purple #c048d2 */
:root {
    --our-black: #181820;
    --our-grey: #272833;
    --our-white: #fefeff;
    --our-text-grey: #b8b8bb;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #181820;
    color: var(--our-white);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    padding-top: 8px;
}

.hero-title {
    font-size: 24px;
    line-height: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.box {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    padding: 10px;
    color: var(--our-text-grey);
    font-size: 13px;
    cursor: pointer;
}

.add-task-box {
    border: rgba(39, 40, 51, 0.6) 2px solid;
}


.add-task-box:hover {
    background-color: var(--our-grey);
}

.pink-box {
    background-color: #fc76a1;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    color: var(--our-black);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-checkbox {
    border: #fc76a1 2px solid;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    color: var(--our-black);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-checkbox > .icon {
    display: none;
    visibility: hidden;
}


.task-box.checked > .task-checkbox > .icon {
    display: block;
    visibility: visible;
}


.task-box.checked > .task-checkbox {
    background-color: #fc76a1;
}

.task-box {
    background-color: var(--our-grey);
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 300ms ease-in;
}

.task-box:hover {
    transform: rotateY(-10deg);
}
